DATABASE_URL="file:./dev.db"
DEMO_MODE="true"
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REFRESH_TOKEN=
META_APP_ID=
META_APP_SECRET=
INSTAGRAM_BUSINESS_ACCOUNT_ID=
TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
